.makeStyles-submit-6 {
    margin: 30px 0px -182983px;
}
.Heading{
    position: relative;
    right: 59rem;
    margin: 2rem 1.8rem;
    font-size: 38px;
    font-weight: 900;
    color: white;
}
.description{
    position: relative;
    right: 59rem;
    margin: 2rem 1.8rem;
    font-weight: 900;
    color: white;
}